In [2]:
import pandas as pd
path_csv = 'data/red_recarga_acceso_publico_2021.csv'

df = pd.read_csv(path_csv, sep=';')

In [4]:
df[['longitud','latidtud']]

    longitud   latidtud
0  -3.720163  40.407410
1  -3.699750  40.405643
2  -3.584398  40.452131
3  -3.616580  40.458741
4  -3.765636  40.368456
5  -3.692477  40.425901
6  -3.707648  40.422404
7  -3.703175  40.414621
8  -3.710118  40.410756
9  -3.689633  40.458442
10 -3.669952  40.467307
11 -3.678996  40.472310
12 -3.689139  40.431958
13 -3.690773  40.445432
14 -3.709215  40.435189
15 -3.702475  40.429592
16 -3.699185  40.430500
17 -3.706909  40.430482
18 -3.708364  40.429699
19 -3.703803  40.437740
20 -3.655348  40.454080
21 -3.662642  40.497684
22 -3.635982  40.464977
23 -3.648114  40.493746
24 -3.632061  40.383891
25 -3.604384  40.376053
26 -3.688935  40.419281
27 -3.675211  40.399904
28 -3.669414  40.406322
29 -3.678428  40.418539
30 -3.692015  40.416144
31 -3.687966  40.435522
32 -3.680755  40.435002
33 -3.681053  40.424902
34 -3.671156  40.424665
35 -3.683596  40.429315
36 -3.689928  40.424567
37 -3.679175  40.430330
38 -3.655986  40.362353
39 -3.637373  40.372637
40 -3.655202  40.366657
41 -3.768518  40.377818

In [5]:
df.head()

,DISTRITO,DIRECCION,EMPLAZAMIENTO,NÂº CARGADORES,OPERADOR,COORX,COORY,longitud,latidtud
0,Arganzuela,Calle Chulapos s/n,VÃ­a pÃºblica,1,REPSOL,"438893,73","4473226,26",-3.720163,40.407410
1,Arganzuela,Ronda de Valencia 1,VÃ­a pÃºblica,1,GIC,"440624,23","4473016,22",-3.699750,40.405643
2,Barajas,Calle Medina del Pomar 22,Otros,1,ELECTRIC CHARGE SPAIN,"450446,39","4478105,29",-3.584398,40.452131
3,Barajas,Avenida del Consejo de Europa 2,EstaciÃ³n de servicio,4,GIC /CEPSA,"447722,67","4478857,49",-3.616580,40.458741
4,Carabanchel,Avenida de la Peseta 6,EstaciÃ³n de servicio,1,REPSOL,"434997,82","4468934,81",-3.765636,40.368456

In [7]:
df.groupby(['DISTRITO'])[['NÂº CARGADORES']].sum()

                    NÂº CARGADORES
DISTRITO
Arganzuela                      2
Barajas                         5
Carabanchel                     1
Centro                          5
ChamartÃ­n                       3
ChamberÃ­                        8
Ciudad Lineal                   1
Hortaleza                       3
Latina                          1
Puente de Vallecas              3
Retiro                          6
Salamanca                      10
Villa de Vallecas               4

In [9]:
df.head()

,DISTRITO,DIRECCION,EMPLAZAMIENTO,NÂº CARGADORES,OPERADOR,COORX,COORY,longitud,latidtud
0,Arganzuela,Calle Chulapos s/n,VÃ­a pÃºblica,1,REPSOL,"438893,73","4473226,26",-3.720163,40.407410
1,Arganzuela,Ronda de Valencia 1,VÃ­a pÃºblica,1,GIC,"440624,23","4473016,22",-3.699750,40.405643
2,Barajas,Calle Medina del Pomar 22,Otros,1,ELECTRIC CHARGE SPAIN,"450446,39","4478105,29",-3.584398,40.452131
3,Barajas,Avenida del Consejo de Europa 2,EstaciÃ³n de servicio,4,GIC /CEPSA,"447722,67","4478857,49",-3.616580,40.458741
4,Carabanchel,Avenida de la Peseta 6,EstaciÃ³n de servicio,1,REPSOL,"434997,82","4468934,81",-3.765636,40.368456

In [10]:
df['NÂº CARGADORES'].max()

4

In [11]:
df['NÂº CARGADORES'].min()

1

In [14]:
list(range(df['NÂº CARGADORES'].min(), df['NÂº CARGADORES'].max()+1))

[1, 2, 3, 4]

In [15]:
df['NÂº CARGADORES'].unique()

array([1, 4, 2], dtype=int64)